<%- include('../partials/head.ejs') %>
  <%- include('../partials/navigationPrivate.ejs') %>
    <main class="container mt-5">
      <%- body %>
    </main>
    <%- include('../partials/footer.ejs') %>